<ol *ngIf="comparison; else import" class="combinations">
  @for (combination of comparison.combinations; track combination) {
    <li class="combination">
      <span class="indicator" role="presentation"></span>
      <app-combination-value class="myRating" [isMine]="true" [minRating]="comparison.min" [maxRating]="comparison.max" [rating]="combination.myRating" />
      <p class="name">{{combination.name}}</p>
      <app-combination-value class="theirRating" [minRating]="comparison.min" [maxRating]="comparison.max" [rating]="combination.theirRating" />
    </li>
  }
</ol>

<ng-template #import>
  <app-comparison-import (import)="onImport($event)" />
</ng-template>
