<ol *ngIf="comparison; else import" class="combinations">
  @for (combination of comparison.combinations; track combination) {
    <li class="combination">
      <span class="indicator" role="presentation"></span>
      <p class="myRating">{{combination.myRating}}</p>
      <p class="name">{{combination.name}}</p>
      <p class="theirRating">{{combination.theirRating}}</p>
    </li>
  }
</ol>

<ng-template #import>
  <app-comparison-import (import)="onImport($event)" />
</ng-template>
