:host {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  position: relative;
}

:host.isMine {
  justify-content: flex-end;
}

:host::before {
  background: var(--color-comparisonTheirRating);
  bottom: 5px;
  content: '';
  left: 5px;
  position: absolute;
  right: unset;
  top: 5px;
  width: calc((((var(--rating) - var(--minRating)) / (var(--maxRating) - var(--minRating))) * 100%) - 10px);
}

:host.isMine::before {
  background: var(--color-comparisonMyRating);
  left: unset;
  right: 5px;
}

.label {
  color: var(--color-font-invert);
  font-weight: bold;
  margin: 0;
  position: relative;
  text-shadow: 
    1px 1px 0 var(--color-font),
    1px -1px 0 var(--color-font),
    -1px -1px 0 var(--color-font),
    -1px 1px 0 var(--color-font);
  z-index: 1;
}
