:host {
  display: flex;
  flex-direction: column;
}

.list {
  background: var(--color-draggableListBackdrop);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.item {
  align-items: stretch;
  color: var(--color-font);
  cursor: move;
  display: flex;
  flex: 1 0 auto;
  font-size: 1.5rem;
  justify-content: flex-start;
}

.item & .item {
  border-top: 1px solid var(--color-border);
}

.item::before {
  background: var(--color-draggableListItem);
  content: '';
  width: 1rem;
}

.label {
  align-items: center;
  background: var(--color-draggableListItem);
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0;
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0.5rem;
}

.indicator::before,
.indicator::after {
  background: var(--color-draggableListItem);
  content: '';
  flex: 0 1 20%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
